name: Android CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: List files in root
      run: ls -la
      
    - name: List files in Aplicativo
      run: ls -la Aplicativo/
